.App {
  text-align: center;
}

body {
  height: 100%;
  background: url('./full-bloom.png');
}

.btnImage {
  width: 200px;
  margin-top: 2px;
}

.kickBtn {
  margin-top: 12px;
  border-radius: 100px;
  margin-bottom: 24px;
}

.title {
  font-weight: bold;
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 36px;
  margin-top: 24px;
}

.kickCount {
  font-family: 'Pacifico', cursive;
}

.timer {
  font-family: 'Pacifico', cursive;
}

.desc {
  font-family: 'Pacifico', cursive;
}